:root {
  --WHITE: #fff;
  --BLACK: #000;
  --X11-GRAY: #BBBBBB;
  --ARSENIC: #414141;
  --RAISIN-BLACK: #212121;
  --SMOKY-BLACK: #0B0C0E;
  --CULTURED: #F5F5F5;
  --SIZZLING-SUNRISE: #FFDA00;
  --DARK-ELECTRIC-BLUE: #59607C;
  --CHINESE-BLACK: #141415;
  --PHILIPPINE-SILVER: #B5B5B5;
  --first-family: "Satoshi", sans-serif;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Regular.woff2") format("woff2"), url("../fonts/satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Medium.woff2") format("woff2"), url("../fonts/satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Bold.woff2") format("woff2"), url("../fonts/satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.header {
  height: 1100px;
  background-color: var(--BLACK);
  background-image: url("../img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 70px;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header-menu-mail {
  color: var(--X11-GRAY);
  transition: ease-in-out 0.2s;
}
.header-menu-mail:hover {
  color: var(--WHITE);
}

.header-menu-logo img {
  display: block;
}

.nav-link {
  color: var(--X11-GRAY);
  transition: ease-in-out 0.2s;
}
.nav-link:hover {
  color: var(--WHITE);
}

.nav-link + a {
  margin-left: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 70px;
}

.header-content-title {
  flex-grow: 1;
  font-weight: 400;
  font-size: 130px;
  line-height: 156px;
  color: var(--WHITE);
  padding-bottom: 25px;
  margin-bottom: 36px;
  border-bottom: 1px solid var(--ARSENIC);
}

.header-content-desc {
  max-width: 743px;
  color: var(--X11-GRAY);
  margin-right: 297px;
}

.header-content-btn {
  letter-spacing: 0.8px;
  transition: ease-in-out 0.2s;
}
.header-content-btn:hover {
  background-color: var(--ARSENIC);
}

.feature {
  padding: 150px 0;
}

.feature-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.feature-column-item {
  max-width: 395px;
}

.feature-column-item-number {
  font-weight: 500;
  font-size: 60px;
  line-height: 78px;
  color: var(--SMOKY-BLACK);
  margin-bottom: 34px;
}

.feature-column-item-desc {
  color: var(--SMOKY-BLACK);
}

.feature-design {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: space-between;
}

.feature-design-content {
  display: flex;
  flex-direction: column;
  max-width: 617px;
  border-right: 1px solid var(--X11-GRAY);
}

.feature-design-content-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.32px;
  margin-bottom: auto;
}

.feature-design-content-desc {
  max-width: 537px;
  color: var(--SMOKY-BLACK);
  margin-bottom: 61px;
}

.feature-design-content-btn.btn {
  max-width: 310px;
  height: 77px;
  font-size: 25px;
  line-height: 32.27px;
  color: var(--WHITE);
  transition: ease-in-out 0.2s;
  background-color: var(--SMOKY-BLACK);
}
.feature-design-content-btn.btn:hover {
  background-color: var(--RAISIN-BLACK);
}

.feature-design-img img {
  display: block;
  max-width: 743px;
  height: 740px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -240px;
     object-position: -240px;
  border-radius: 440px;
}

.article {
  padding: 150px 0;
  background-color: var(--SMOKY-BLACK);
  border-radius: 60px;
}

.article-content {
  height: 890px;
  background-image: url("../img/article/article-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.article-content-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 689px;
  margin: 0 auto;
  text-align: center;
}

.article-content-title {
  font-weight: 400;
  font-size: 130px;
  line-height: 156px;
  color: var(--WHITE);
  margin-bottom: 70px;
}

.article-content-desc {
  max-width: 613px;
  color: var(--CULTURED);
  margin-bottom: 45px;
}

.article-content-btn.btn {
  max-width: 338px;
  height: 70px;
  transition: ease-in-out 0.2s;
}
.article-content-btn.btn:hover {
  background-color: var(--ARSENIC);
}

.article-cards-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 40px;
}

.article-card {
  display: flex;
  flex-direction: column;
  max-width: 453px;
  background-color: var(--CHINESE-BLACK);
  border-radius: 20.91px;
  padding: 30px;
}

.article-card:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}

.article-card-author-contact {
  grid-column: 3/4;
  font-weight: 500;
  font-size: 16.22px;
  line-height: 24.33px;
  color: var(--PHILIPPINE-SILVER);
}

.article-card-author {
  display: grid;
  grid-template-columns: 72px 20px 105px auto;
  align-items: center;
  margin-bottom: 19px;
}

.article-card-author-img {
  grid-row: 1/3;
}

.article-card-author-name {
  grid-column: 3/5;
  color: var(--WHITE);
}

.article-author-card-degree {
  grid-column: 3/4;
}

.article-author-card-degree-num {
  font-weight: 700;
  margin-left: 10px;
  color: var(--WHITE);
}

.article-card-desc {
  font-size: 16px;
  line-height: 25.6px;
  color: var(--X11-GRAY);
  margin-bottom: 20px;
  flex-grow: 1;
}

.article-card-socials {
  display: flex;
  -moz-column-gap: 11px;
       column-gap: 11px;
}

.article-card-socials-link img {
  display: block;
  width: auto;
  height: 30px;
}

.info {
  padding: 150px 0;
}

.info-row {
  display: flex;
  flex-direction: column;
}

.info-content {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: space-between;
  margin-bottom: 150px;
}

.info-content-head {
  max-width: 395px;
}

.info-content-head-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.32px;
  min-height: 635px;
}

.info-content-head-desc {
  font-size: 16px;
  line-height: 24px;
}

.info-content-list {
  display: flex;
  list-style: none;
}

.info-content-list-item {
  display: flex;
  flex-direction: column;
  max-width: 304px;
  border-left: 1px solid var(--X11-GRAY);
  padding: 0 30px;
}

.info-content-list-item-title {
  font-weight: 500;
  font-size: 60px;
  line-height: 78px;
  letter-spacing: 0.32px;
  min-height: 461px;
  padding-top: 30px;
  position: relative;
}

.info-content-list-item-title::before {
  content: attr(data-number);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.info-content-list-item-img {
  width: 121.87px;
  height: 121.87px;
  margin-bottom: 52px;
}

.info-content-list-item-desc {
  flex-grow: 1;
  font-size: 16px;
  line-height: 24px;
}

.info-images-row {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.info-images-img {
  display: block;
  border-radius: 30px;
}

.info-images-img-hanle,
.info-images-img-seat {
  max-width: 707px;
  height: 873px;
}

.info-images-img-chain {
  max-width: 1440px;
  height: 712px;
}

.faq {
  padding-top: 100px;
}

.faq-row {
  max-width: 1360px;
  margin: 0 auto;
}

.faq-title {
  font-weight: 400;
  font-size: 130px;
  line-height: 156px;
  margin-bottom: 60px;
  text-align: center;
}

.faq-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.faq-list-item {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  min-height: 264px;
  border-top: 1px solid var(--X11-GRAY);
}

.faq-list-left-item {
  max-width: 247px;
}

.faq-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  background-color: var(--BLACK);
  border-radius: 50px;
  margin-bottom: 20px;
}

.faq-item-img img {
  display: block;
}

.faq-item-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}

.faq-item-desc {
  max-width: 631px;
}

.character-img {
  padding: 100px 0;
}

.character-img img {
  display: block;
  max-width: 100%;
  border-radius: 39px;
}

.character-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character-content-column {
  display: flex;
  -moz-column-gap: 52.5px;
       column-gap: 52.5px;
}

.character-content-column:not(:last-child) {
  border-right: 1px solid var(--X11-GRAY);
  padding-right: 52.5px;
}

.character-block-top {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
  margin-bottom: 5px;
}

.character-block-img {
  display: block;
}

.character-block-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.character-content-block-desc {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
}

.character-content-block-text {
  max-width: 160px;
  font-size: 14px;
  line-height: 21px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper-row {
  height: 100vh;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 338px;
  width: 100%;
  height: 70px;
  font-weight: 500;
  background-color: var(--RAISIN-BLACK);
  color: var(--X11-GRAY);
  border-radius: 60px;
}/*# sourceMappingURL=style.css.map */