:root {
  --WHITE: #fff;
  --BLACK: #000;
  --X11-GRAY: #BBBBBB;
  --ARSENIC: #414141;
  --RAISIN-BLACK: #212121;
  --SMOKY-BLACK: #0B0C0E;
  --CULTURED: #F5F5F5;
  --SIZZLING-SUNRISE: #FFDA00;
  --DARK-ELECTRIC-BLUE: #59607C;
  --first-family: "Satoshi", sans-serif;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Regular.woff2") format("woff2"), url("../fonts/satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Medium.woff2") format("woff2"), url("../fonts/satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Bold.woff2") format("woff2"), url("../fonts/satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
.header {
  height: 1100px;
  background-color: var(--BLACK);
  background-image: url("../img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 70px;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header-menu-mail {
  color: var(--X11-GRAY);
  transition: ease-in-out 0.2s;
}
.header-menu-mail:hover {
  color: var(--WHITE);
}

.header-menu-logo img {
  display: block;
}

.nav-link {
  color: var(--X11-GRAY);
  transition: ease-in-out 0.2s;
}
.nav-link:hover {
  color: var(--WHITE);
}

.nav-link + a {
  margin-left: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 70px;
}

.header-content-title {
  flex-grow: 1;
  font-weight: 400;
  font-size: 130px;
  line-height: 156px;
  color: var(--WHITE);
  padding-bottom: 25px;
  margin-bottom: 36px;
  border-bottom: 1px solid var(--ARSENIC);
}

.header-content-desc {
  max-width: 743px;
  color: var(--X11-GRAY);
  margin-right: 297px;
}

.header-content-btn {
  letter-spacing: 0.8px;
  transition: ease-in-out 0.2s;
}
.header-content-btn:hover {
  background-color: var(--ARSENIC);
}

.feature {
  padding: 150px 0;
}

.feature-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.feature-column-item {
  max-width: 395px;
}

.feature-column-item-number {
  font-weight: 500;
  font-size: 60px;
  line-height: 78px;
  color: var(--SMOKY-BLACK);
  margin-bottom: 34px;
}

.feature-column-item-desc {
  color: var(--SMOKY-BLACK);
}

.feature-design {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: space-between;
}

.feature-design-content {
  display: flex;
  flex-direction: column;
  max-width: 617px;
  border-right: 1px solid var(--X11-GRAY);
}

.feature-design-content-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.32px;
  margin-bottom: auto;
}

.feature-design-content-desc {
  max-width: 537px;
  color: var(--SMOKY-BLACK);
  margin-bottom: 61px;
}

.feature-design-content-btn.btn {
  max-width: 310px;
  height: 77px;
  font-size: 25px;
  line-height: 32.27px;
  color: var(--WHITE);
  transition: ease-in-out 0.2s;
  background-color: var(--SMOKY-BLACK);
}
.feature-design-content-btn.btn:hover {
  background-color: var(--RAISIN-BLACK);
}

.feature-design-img img {
  display: block;
  max-width: 743px;
  height: 740px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -240px;
     object-position: -240px;
  border-radius: 440px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper-row {
  height: 100vh;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 338px;
  width: 100%;
  height: 70px;
  font-weight: 500;
  background-color: var(--RAISIN-BLACK);
  color: var(--X11-GRAY);
  border-radius: 60px;
}/*# sourceMappingURL=style.css.map */