:root {
    // colors
    --WHITE: #fff;
    --BLACK: #000;
    --X11-GRAY: #BBBBBB;
    --ARSENIC: #414141;
    --RAISIN-BLACK: #212121;
    --SMOKY-BLACK: #0B0C0E;
    --CULTURED: #F5F5F5;
    --SIZZLING-SUNRISE: #FFDA00;
    --DARK-ELECTRIC-BLUE: #59607C;
    --CHINESE-BLACK: #141415;
    --PHILIPPINE-SILVER: #B5B5B5;

    // family
    --first-family: 'Satoshi', sans-serif;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
        url('../fonts/satoshi/Satoshi-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('../fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
        url('../fonts/satoshi/Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('../fonts/satoshi/Satoshi-Bold.woff2') format('woff2'),
        url('../fonts/satoshi/Satoshi-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }