@import './vars';
@import './header';
@import './feature';
@import './article';
@import './info';
@import './faq';
@import './character';
@import './order';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.container {
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
}
.wrapper-row {
    height: 100vh;
}
a {
    text-decoration: none;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 338px;
    width: 100%;
    height: 70px;
    font-weight: 500;
    background-color: var(--RAISIN-BLACK);
    color: var(--X11-GRAY);
    border-radius: 60px;
}